@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent default scroll, we'll handle it */
  background-color: #000;
  color: white;
}

#root {
  width: 100%;
  height: 100%;
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(to right, #4b5563 20%, #ffffff 50%, #4b5563 80%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 3s linear infinite;
  }
}

@keyframes shimmer {
  to {
    background-position: 200% center;
  }
}
